/* GRID ДЛЯ КАРТОЧЕК */
.mealGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: flex-start;
}

/* КАРТОЧКА */
.mealCard {
    display: flex;
    width: 196px;
    height: 209px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #242D96;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
    
}

.mealCard:hover {
    border: 2px solid #0060B9;
    transform: translateY(-3px);
}

.mealCard img {
    width: 166px;
    height: 146px;
    border-radius: 2px;
    object-fit: cover;
}

.cardTitle {
    margin-top: 8px;
    color: #242D96;
    font-family: Teachers;
    font-size: 18px;
    text-align: center;
}


.categoryCard{
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;   /* 🔑 ВАЖНО */
    align-items: center;
    gap: 12px;
}
.circle{
    
}

.true{
    color:black;

}
.true:hover{
    color:blue;
}